<html>
  <head>

  <link rel="stylesheet" type="text/css" href="style.css">  
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="prism-atom-dark.css" type="text/css" media="screen" />
  <script type="text/javascript" src="prism.js"></script>
  <script type="text/javascript" src="prism.ruby.js"></script>

  <title>Bre Phelps</title>
  <meta name="description" content="Bre Phelps is a professional
        software engineer specializing in full-stack development.
        She has extensive experience with Ruby, Rails, JavaScript,
        and building web applications.">

  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item col-3">
            <%= link_to "About", root_path, { class: "nav-link" } %>
          </li>
          <li class="nav-item col-3">
            <%= link_to "Code Samples", code_samples_path, { class: "nav-link" } %>
          </li>
          <li class="nav-item col-3">
            <%= link_to "Web Apps", web_apps_path, { class: "nav-link" } %>
          </li>
          <li class="nav-item col-4">
            <%= link_to "Skills and Tools", skills_path, { class: "nav-link" } %>
          </li>
          <li class="hire-me col-3 offset-1">
            <%= link_to "Hire Me", contact_path, { class: "nav-link" } %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="code-container">
      <div class="code">
        <h1-b>Code Snippets</h1-b>
      </div>
        <br />
          <div class="box">
            <h4>Temperature Conversion</h4>
            <p>
              This Ruby program will prompt the user for a temperature in degrees Celsius and let the user know what the corresponding temperature is in Fahrenheit.
            </p>
          </div>
          <div class="box-s">
            <pre><code class="language-ruby">
            def degrees
              puts &quot;Enter degrees in Celsius:&quot;
              # Chomping new line character
              # Converting to a float for calculation
              celcius = gets.chomp.to_f

              fahrenheit = celcius * 1.8 + 32

              # Converting answer to integer for triggered method
              return &quot;The temperature is #{fahrenheit.to_i} degrees Fahrenheit&quot;
            end
            puts degrees
            </code></pre>
          </div>

          <br class="clear" />
          
          <div class="box-s">
            <pre><code class="language-ruby">
            puts &quot;Enter a number.&quot;
            # Collect a number from user and convert to positive integer
            number = gets.chomp.to_i
            last_two = number.to_s[-2..-1].to_i

            # Lop off the right-most digit and store it in a variable
            right_digit = number % 10


            # Assign ordinal
            if right_digit == 0 &amp;&amp; number != 0
                puts &quot;That's the #{number}th item!&quot;
            elsif right_digit == 1 &amp;&amp; (last_two &lt; 10 || last_two &gt; 20)
                puts &quot;That's the #{number}st item!&quot;
            elsif right_digit == 2 &amp;&amp; (last_two &lt; 10 || last_two &gt; 20)
                puts &quot;That's the #{number}nd item!&quot;
            elsif right_digit == 3 &amp;&amp; (last_two &lt; 10 || last_two &gt; 20)
                puts &quot;That's the #{number}rd item!&quot;
            elsif number &lt;= 0
                puts 'Please enter a number above 0'
            else
                puts &quot;That's the #{number}th item!&quot;
            end
            </code></pre>
            </div>
          <div class="box">
            <h4>Ordinal Challenge</h4>
            <p>
              This Ruby program will convert a plain number to the ordinal of the number. So for example, if the user enters 2, it will display 2nd, if the user enters 3, it will display 3rd, etc.
            </p>
          </div>

          <br class="clear" />
          
          <div class="box">
            <h4>Foobar</h4>
            <p>
              This Ruby program is an adaptation of a classic technical interview problem which displays sequences of the Foobar pattern.
            </p>
          </div>
          <div class="box-s">
            <pre><code class="language-ruby">
            # Define method
            def chall3

            # Ask user to input digit and convert to int
            puts &quot;How many items do you want to see?&quot;
            digits = gets.chomp.to_i

            number = 0

                # Create iterative loop
                while number &lt; digits
                    number = number + 1
                    # Form if statements
                    if number % 15 == 0
                        puts &quot;Foobar&quot;
                    elsif number % 5 == 0
                        puts &quot;Bar&quot;
                    elsif number % 3 == 0
                        puts &quot;Foo&quot;
                    else
                        puts number
                    end
                end
            end

            # Call method
            chall3
            </code></pre>
          </div>
        <br /><br /><br />
        </div>
      </body>
    
</html>