  
<div class="contact-me">
  <div class="margin">
    <div class="contact float-right">
      <h1-b>Contact</h1-b>
      <hr class="grey" />
      <p class="contact-info">
        Currently entertaining new opportunities. 
      </p>


      <!-- Button trigger modal -->
      <button type="button" class="btn btn-inverse btn-sm" data-toggle="modal" data-target="#ContactModal">
        Add a Contact Request Here
      </button>


      <!-- Modal -->
      <div class="modal fade" id="ContactModal" tabindex="-1" role="dialog" aria-labelledby="ContactModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title" id="ContactModalLabel">Add a Contact Request</h4>
            </div>
            <%= simple_form_for @contact do |f| %>
              <div class="modal-body">
                <%= f.input :name %>
                <%= f.input :email %>
                <%= f.input :phone_number %>
                <%= f.input :message %>
              </div>
              <div class="modal-body">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <%= f.submit "Add Contact Request", class: 'btn btn-secondary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
