<div class="skills-container">
  <div class="margin">
    <div class="icons float-left">
      <h1-a>Skills and Tools</h1-a>
        <hr class="grey" />
        <p class="skills-and-tools">
          Bre has developed proficiency and expertise in the following programming languages and comfort with the following tools.
        </p>
        <%= image_tag ("github.png"), class: "icon" %>
        <%= image_tag ("rubocop.png"), class: "icon" %>
        <%= image_tag ("trello.png"), class: "icon" %>
        <%= image_tag ("slack.png"), class: "icon" %>
        <%= image_tag ("codeship.png"), class: "icon" %>

        <br class="clear" />
        <%= image_tag ("skills.png"), class: "icon" %>
    </div>
  </div>
</div>